---
import Layout from '../layouts/Layout.astro';
import HandDrawnStairs from '../components/HandDrawnStairs';
---

<Layout title="Zhong Pengchen | Personal Space">
  <main class="w-full h-full min-h-screen flex flex-col items-center justify-center px-4 overflow-hidden relative">
    
    <div class="absolute top-12 left-12">
      <h1 class="font-[Caveat] text-5xl font-bold tracking-wider text-ink-main">Z.PC</h1>
      <p class="font-[Caveat] text-2xl text-ink-muted mt-2">A minimal space</p>
    </div>

    <!-- HandDrawnStairs component needs to be hydrated on the client since roughjs uses DOM -->
    <HandDrawnStairs client:load />
    
  </main>
</Layout>
